<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vash.industria40uc">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".ListaAgenda" />
        <activity android:name=".DetalleAgenda" />
        <activity android:name=".AsistenciaActivity" />
        <activity
            android:name=".DetallePonente_Jairo"
            android:label="Jairo Vargas Bonilla"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Jose"
            android:label="José Durán Talledo"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Italo"
            android:label="Italo Quispe Guerra"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Cesar"
            android:label="César Gallegos"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Edmundo"
            android:label="Edmundo Muñoz Alvear"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Nelson"
            android:label="Nelson Alfonso Huertas"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Lucia"
            android:label="Lucía Pía Torres"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Jorge"
            android:label="Jorge Ascencio Damián"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Heena"
            android:label="Heena Rathore"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Joseph"
            android:label="Josep Cargol Noguer"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Juan"
            android:label="Juan Pablo Serna Cardona"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Ruth"
            android:label="Ruth Manzanares Grados"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".Ponentes"
            android:label="Ponentes"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Notificaciones"
                  android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
    </application>

</manifest>