<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maps">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".DetallePonente_Jairo"
            android:label="Jairo Vargas Bonilla"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".DetallePonente_Jose"
            android:label="José Durán Talledo"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Italo"
            android:label="Italo Quispe Guerra"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Cesar"
            android:label="César Gallegos"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Edmundo"
            android:label="Edmundo Muñoz Alvear"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Nelson"
            android:label="Nelson Alfonso Huertas"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Lucia"
            android:label="Lucía Pía Torres"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Jorge"
            android:label="Jorge Ascencio Damián"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Heena"
            android:label="Heena Rathore"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Joseph"
            android:label="Josep Cargol Noguer"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Juan"
            android:label="Juan Pablo Serna Cardona"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".DetallePonente_Ruth"
            android:label="Ruth Manzanares Grados"
            android:theme="@style/Theme.AppCompat.DayNight" />

        <activity android:name=".DetalleAgenda" />
        <activity android:name=".ListaAgenda" />
        <activity android:name=".Ponentes"
            android:label="Ponentes"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ImagenCompleta" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsFabLab"
            android:label="@string/title_activity_maps_fab_lab" />
        <activity
            android:name=".MapsLabJ301"
            android:label="@string/title_activity_maps_lab_j301" />
        <activity
            android:name=".MapsAuditorio"
            android:label="@string/title_activity_maps_auditorio" />
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>